body {
  background: url(./img/macofe.gif) no-repeat center center fixed;
  background-size: cover;
  font-family: 'PT Sans Narrow', sans-serif;
}

.row-height {
  height: 300px;
}

h1 {
  color: #000;
  font-size: 2.5em;
}

.bg {
  background-color: #c1c1c1;
  opacity: 0.8;
}

img {
  width: 300px;
  height: 200px;
  margin-top: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  bg: white;
}

.footer p {
  font-size: 18px;
  padding: 10px;
}
